@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');


.cardCategorias{
    margin-right: 5vw;
    

    .tituloCategorias{
        font-weight: 600;
        font-family: 'Ubuntu', sans-serif;
    }

    .descripcionCategorias{
        font-weight: 300;
        font-size: 1rem;
        color: black;
        
    }

    

    .linkCategorias{

        text-decoration: none;
       
       
       #botonCategorias{
           background-color: #FF6699;
           color: white;
           font-size: medium;
           border-radius: 0;
           width: 200px;
       }
       
       }

}

.spinnerCategorias{
    height: 70vh;
   }