.tituloDetail{
    font-size: 3rem;
    text-decoration: underline;
}

.divImagenDetail{

    .imagenDetail{
        width: 20rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

    }
}

.divTexto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-right: 14rem;

    .nombreDetail{
        font-size: xx-large;
    }

    .descripcionDetail{
        font-size: x-large;
        font-weight: 500;
    }
.unidadesDetail{
    font-size: 2rem;
        font-weight: 600;
}
    .precioDetail{
        font-size: 2rem;
        font-weight: 600;
    }
}